

@font-face {
    font-family: 'montserratmedium';
    src: url('montserrat-medium-webfont.woff2') format('woff2'),
         url('montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
    font-display: swap;
}


@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff'),
         url('geomanist-regular-webfont.ttf') format('truetype'),
         url('geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal; 
    font-display: swap;
}

@font-face {
    font-family: 'montserratblack';
    src: url('montserrat-black-webfont.woff2') format('woff2'),
         url('montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}